body {
    margin: 0;
    padding: 0;
    font-family: myFont;
    font-weight: lighter;
}

@font-face {
    font-family: myFont;
    src: url(artegra-sans-alt-bold.otf);
}

a {
    text-decoration: none;
    color: #333;
}



.navbar {
    background-color: white;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: top 1s ease;
}

.navbar.slide-in {
    top: 0;
}




.logo img {
    height: 40px;
}



.small-icon {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    color: grey;
}

.back-home {
    color: #000;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    padding: 5px 10px;
}

.nav-link.active {
    color: #007bff;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #007bff;
}

.card {
    border: 0px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



.card-content {
    text-align: center;
}


@media (min-width: 1360px) {
    .card {
        flex-direction: row;
        width: 50%;
    }

    .card-image {
        margin-right: 20px;
    }

}


.card-2 {
    border: 0px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 50%;

}

.card-3 {
    border: 0px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.street {
    font-size: 24px;
    margin-top: 0;
}

#street {
    font-size: 24px;
    margin-top: 0;
}

.price {
    font-size: 20px;
    margin: 0;
    font-style: italic;
}

#price {
    font-size: 20px;
    margin: 0;
    font-style: italic;
}

.card-image {
    justify-content: center;
    display: flex;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
}

.card-image-2 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-description {
    max-width: 25%;
    text-align: center;
}

.card-content {
    width: 10%;
    padding: 10px;
    font-weight: lighter;
}

.location {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.price-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.card-content {
    padding: 10px;
}

.property-street {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 0px;
}

.property-zip,
.property-city {
    color: #777;
}

.property-price {
    font-size: 20px;
    font-weight: bold;
    color: #3498db;
}

.property-size,
.property-construction-year {
    color: #555;
    margin-top: 5px;
}

.property-details-container {
    margin-top: 10px;
}

.property-bedrooms,
.property-bathrooms {
    color: #333;
}


.details-container {
    flex: 1;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.detail-container {
    display: flex;
    justify-content: center;
}


@media (max-width: 1360px) {
    .details-container {
        border-left: none;
        border-top: 1px solid #ccc;
        padding-left: 0;

    }

    .card {
        color: white;
    }


}


h2 {
    font-size: 20px;
    margin: 0;
}

.search-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.search-bar {
    opacity: 0;
    transform: translateY(0px);
    animation: slideIn 0.5s ease forwards;
}

@keyframes spawnIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-box {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"%3E%3Cpath strokeLinecap="round" strokeLinejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" /%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-color: #f0ecec;
    background-size: 20px;
    background-position: 10px center;
    padding-left: 40px;
}

.search-box:focus {
    outline: none;
}

.button-container {
    display: flex;
    align-items: center;
}

.filter-button {
    padding: 10px 20px;
    background-color: #e85444;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: myFont;
    cursor: pointer;
}

.filter-button.active {
    background-color: #0056b3;
}

.filter-content {
    margin-top: 20px;
}

.filter-item {
    display: none;
}

.filter-item.active {
    display: block;
}

.card-image img {
    border-radius: 4px;
    margin: 10px;
}

.card-content {
    flex: 2;
    padding: 20px;
    text-align: center;
}

.card-content-2 {
    flex: 2;
    padding: 20px;
    text-align: center;
}

.info-house {
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.image-not-found {
    width: 400px;
}

@media (max-width: 768px) {
    .image-not-found {
        width: 50%;
        max-width: 400px;
    }
}
