body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
}

.logo img {
    height: 40px; /* Adjust size as needed */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    padding: 5px 10px; /* Add some padding to the links */
}

.nav-link.active {
    color: #007bff; /* Change color for active link */
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #007bff;
}

.card {
    border: 0px solid #ccc; /* Add a border to the card */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px; /* Add border radius */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px; /* Adjust the margin to create space below the search bar */
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: relative; /* Add relative positioning to the search bar container */
    z-index: 2; /* Add a higher z-index to make it appear above the card */
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.card-image {
    flex: 0;
}

.card-image img {
   border-radius: 6px;
   margin: 10px;
}

.card-content {
    flex: 2;
    padding: 20px;
    text-align: center;
}

